.meditation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #333;
  }
  
  .meditation-container h1 {
    font-size: 2.5rem;
    color: #4a4a4a;
    margin-bottom: 20px;
  }
  
  .meditation-video {
    width: 900px; /* Width of the boxes */
    height: 500px; /* Height of the boxes */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }
  