@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.about {
  padding: 20px;
}

.black-box {
  width: 97%; 
  height: auto;
  background-color: rgba(0, 0, 0, 0.56);
  margin: 0px 0px; 
  padding: 20px; 
  color: white; 
  text-align: center; 
  padding-bottom: 10px;
}

.section-title {
  color: #6AF5E5; 
  font-size: 20px;
  margin-top: 0; 
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  line-height: 1.9;  
}

.description {
  font-size: 20px;
  margin: 10px 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.9; 
}

.thank-you {
  font-weight: bold; 
  color: white; 
  font-size: 20px;
  font-family: 'Roboto', sans-serif; 
  line-height: 1.9;
}
