.BrowseSongs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  text-align: center;
}

.BrowseSongs-input {
  margin-right: 10px;
  width: 400px; 
  padding: 10px;
  border: 2px solid #17845c;
  border-radius: 15px;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.BrowseSongs-input:focus {
  outline: none;
  border-color: #3e8e41; 
  box-shadow: 0 0 5px rgba(30, 144, 255, 0.5);
}

.BrowseSongs-button {
  font-size: 1.2em; 
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: white; 
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.BrowseSongs-button:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.BrowseSongs-videoList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.BrowseSongs-videoItem {
  cursor: pointer;
  margin: 10px 0;
  text-align: center;
}

.BrowseSongs-videoPlayer {
  margin-top: 20px;
}
