body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('/src/assets/images/1.gif'); 
  background-size: cover; 
  background-position: center center;
  min-height: 100vh;
}


.logged-in {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom, #46EBB0, #742C6E); 
  

  background-size: cover;
  

  min-height: 100vh;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  text-align: center;
  color: white; 
}
