.SnakeSegment {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #004e00;
    border: 2px solid #67b767;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 4px; /* Slightly rounded corners */
  }
  